.oppeo {
  color: blue;
}

.character-list {
  position: fixed;
  background: white;
  border: 1px solid #ccc; /* 枠線を追加 */
  display: flex;          /* フレックスボックスにする */
  flex-wrap: wrap;       /* 折り返す設定 */
}
