<div>
  <label><%= label %></label>
  <select id="<%= id %>">
    <option value="0">0本</option>
    <option value="1">1本</option>
    <option value="2">2本</option>
    <option value="3">3本</option>
    <option value="4">4本</option>
    <option value="5">5本</option>
    <option value="6">6本</option>
    <option value="7">7本</option>
    <option value="8">8本</option>
    <option value="9">9本</option>
  </select>
</div>