<h1>オメガ武器シミュ（成功）</h1>
<p id="total">Total: 0</p>

<form id="estimate-form">
  <label>くじ: </label>
  <input type="checkbox" name="lot" value="1">
  <label>1番</label>
  <input type="checkbox" name="lot" value="2">
  <label>2番</label>
  <input type="checkbox" name="lot" value="3">
  <label>3番</label>
  <input type="checkbox" name="lot" value="4">
  <label>4番</label>

  <label>当たりの番号: </label>
  <input type="checkbox" name="hit" value="1">
  <label>1番</label>
  <input type="checkbox" name="hit" value="2">
  <label>2番</label>
  <input type="checkbox" name="hit" value="3">
  <label>3番</label>
  <input type="checkbox" name="hit" value="4">
  <label>4番</label>
</form>

<script>
    // IDを使ってフォーム要素を取得
const form = document.getElementById('estimate-form');

// IDを使って総価格表示要素を取得
const totalElement = document.getElementById('total');

function calculateTotal() {
  let total = 0;

  const hit = document.querySelectorAll('input[name="hit"]:checked');
  const lot = document.querySelectorAll('input[name="lot"]:checked');
  for (let i = 0; i < lot.length; i++) {
    if (lot[i].value === hit[0].value) {
    total += 1;
    }
  }


  // 計算した総価格で総価格表示テキストを更新
  totalElement.innerText = `Total: ¥${total}`;
}

// フォームにchangeイベントが発生した時にcalculateTotal関数を起動するイベントリスナーを追加
form.addEventListener('change', calculateTotal);
</script>