<h1></h1>
<p id="total">Total: 0</p>

<form id="estimate-form">
  <label>りんご100円: </label>
  <select id="apple">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
  </select>
  
  <label>ばなな200円: </label>
  <select id="banana">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
  </select>
  
  <label>ポイントの割合: </label>
  <select id="point">
      <option value="0">0</option>
      <option value="100">100%</option>
      <option value="200">200%</option>
  </select>
            <p>ポイント手動</p>
            <input type="number" class="box" name="pointtt">
  
  
</form>

<script>
const form = document.getElementById('estimate-form');
const totalElement = document.getElementById('total');

function calculateTotal() {
  let total = 0;

  const apple = parseInt(document.getElementById('apple').value);
  const banana = parseInt(document.getElementById('banana').value);
  const point = parseInt(document.getElementById('point').value);
  const pointtt = parseFloat(document.getElementsByName('pointtt')[0].value);
  if (pointtt) {
  total += ((apple * 100) + (banana * 200)) * pointtt;
  }


  // 計算した総価格で総価格表示テキストを更新
  totalElement.innerText = `Total: ¥${total}`;
}

// フォームにchangeイベントが発生した時にcalculateTotal関数を起動するイベントリスナーを追加
form.addEventListener('change', calculateTotal);
</script>