<form id="e-form">
<div class="mx-3">
        <p id="total">0.0</p>
</div>

<div>
  <p>Ｎｏ．２</p>
  <input type="number" class="box" name="n_2">
</div>

<div>
  <p>Ｎｏ．3</p>
  <input type="number" class="box" name="n_3">
</div>
</form>

<script>
const form = document.getElementById('e-form');
const total = document.getElementById('total');

function calculateTotal() {
  let total_count = 0;
const n_2 = parseFloat(document.getElementsByName('n_2')[0].value);
if (n_2) {total_count += n_2}

const n_3 = parseFloat(document.getElementsByName('n_3')[0].value);
if (n_3) {total_count += n_3}

const total_count_before_convervion = total_count.toFixed(1)

total.innerText = `${total_count_before_convervion}`;
}

// フォームにchangeイベントが発生した時にcalculateTotal関数を起動するイベントリスナーを追加
form.addEventListener('change', calculateTotal);
</script>
