      <div class="estimate-test">
        <p>りんご</p>
        <input type="radio" name="apple" value="0" id="apple"  checked>
        <label for="apple-0">無</label>

        <input type="radio" name="apple" value="1" id="apple-1">
        <label for="apple-1">有</label>
      </div>
  <div class="estimate-test">
    <p class="estimate-formHeadingTest">個別選択</p>
    <input type="radio" name="media" value="0" id="media-option-0">
    <label for="media-option-0"><span class="choiceOption">Media Option 0</span>¥0</label>

    <input type="radio" name="media" value="1000" id="media-option-1">
    <label for="media-option-1"><span class="choiceOption">Media Option 1</span>¥1000</label>

    <input type="radio" name="media" value="2000" id="media-option-2">
    <label for="media-option-2"><span class="choiceOption">Media Option 2</span>¥2000</label>

    <input type="radio" name="media" value="3000" id="media-option-3">
    <label for="media-option-3"><span class="choiceOption">Media Option 3</span>¥3000</label>
  </div>

<script>
</script>
