こんにちは
<form id="estimate-form">
          <div>
            <div class="item-title">
              <p>項目１</p>
            </div>
            <input type="number" class="box" name="number_1" value="0">
          </div>

          <div>
            <div class="item-title">
              <p>項目２</p>
            </div>
            <input type="number" class="box" name="number_2" value="0">
          </div>

          <div>
            <div class="item-title">
              <p>項目３</p>
            </div>
            <input type="number" class="box" name="number_3" value="0">
          </div>

          <div>
            <div class="item-title">
              <p>項目４</p>
            </div>
            <input type="number" class="box" name="number_4" value="0">
          </div>
</form>



      <div class="table-responsive">
        <table class="table table-sm table-striped  table-bordered">
          <thead>
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td id="aaa">5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
          </tbody>
        </table>
      </div>

<script>
const form = document.getElementById('estimate-form');
const aaa = document.getElementById('aaa');

function calculateTotal() {
  const aaa = parseInt(document.getElementsByName('aaa')[0].value);

  aaa.innerText = `主人公: ${aaa}%`;
}
form.addEventListener('change', calculateTotal);

</script>