.top-inner-text h1 {
  color: green;
}

.money {
  position: fixed;
  background: white;
  border: 1px solid #ccc; /* 枠線を追加 */
}

.container img {
  max-width: 100%; /* 親要素の幅に応じて画像の幅を調整 */
  height: auto;    /* 高さは自動調整して比率を保つ */
}
